<form class="main-form mat-card">
  <ngx-dropzone
    (change)="addFile($event)"
    [accept]="'.apk'"
    [disableClick]="file != null"
    [maxFileSize]="maxFileSize"
    [multiple]="false"
    class="main-upload mat-card"
    tabindex="0"
  >
    <div *ngIf="file == null">
      <mat-icon>cloud_upload</mat-icon>
      <p class="upload-label">{{'upload.label' | translate}}</p>
      <p class="upload-hint"><b>{{'upload.hint.1' | translate}}</b> 20MB</p>
      <p class="upload-hint"><b>{{'upload.hint.2' | translate}}</b> .apk</p>
    </div>
    <ngx-dropzone-preview (removed)="removeFile()" *ngIf="file != null" [removable]="true">
      <ngx-dropzone-label>{{ file.name }}</ngx-dropzone-label>
    </ngx-dropzone-preview>
  </ngx-dropzone>

  <mat-form-field>
    <mat-label>VirusTotal API Key ({{'optional' | translate}})</mat-label>
    <input [(ngModel)]="virusTotalAPIKey" matInput name="virusTotalAPIKey" type="text">
    <button (click)="virusTotalAPIKey=''" *ngIf="virusTotalAPIKey" aria-label="Clear" mat-button mat-icon-button
            matSuffix>
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <button (click)="uploadFile()" [disabled]="!file" class="upload-button" color="primary" mat-raised-button
          type="submit">
    {{'analyze.application' | translate}}
  </button>
</form>

<mat-divider></mat-divider>

<mat-card>
  <button class="first-button" color="primary" mat-raised-button routerLink="/reports">
    {{'see.all.reports' | translate}}
    <mat-icon>arrow_forward</mat-icon>
  </button>
</mat-card>
