.toolbar-logo {
  height: 50px;
  position: absolute;
  cursor: pointer;
  outline: none;
}

h1 {
  margin: 0 auto;
  cursor: pointer;
  outline: none;
}


@media only screen and (max-width: 620px) {
  .toolbar-logo {
    position: relative;
  }
}
