mat-toolbar {
  position: fixed;
  top: 0;
  height: 64px;
  z-index: 1000;
}

.toolbar-logo {
  height: 50px;
  position: absolute;
}

a {
  margin: 0 auto;
  text-decoration: none;
  color: black;
}

.go-back-button {
  display: none;
}

.app-body {
  position: absolute;
  top: 64px;
  width: 100%;
}


@media only screen and (max-width: 620px) {
  .go-back-button {
    display: inline;
  }

  h1 {
    display: none;
  }

  a {
    display: none;

    &.toolbar-logo {
      display: inline-block;
      position: relative;
      margin: 0 auto;
    }
  }
}
