<mat-toolbar color="primary">
  <button *ngIf="goBackUrl != null" attr.aria-label="{{'go.back' | translate}}" class="go-back-button" mat-icon-button
          routerLink="{{goBackUrl}}">
    <mat-icon>arrow_backward</mat-icon>
  </button>
  <a class="toolbar-logo" routerLink="/">
    <img
      alt="Logo AndroPyTool"
      height="100%"
      src="assets/logo.png"
    />
  </a>
  <a routerLink="/">
    <h1>
      AndroPyTool
    </h1>
  </a>

  <button [matMenuTriggerFor]="menu" attr.aria-label="{{'language.menu' | translate}}" mat-icon-button>
    <mat-icon>language</mat-icon>
  </button>
  <mat-menu #menu="matMenu" xPosition="before">
    <button (click)="switchLang('es')" mat-menu-item>Español</button>
    <button (click)="switchLang('en')" mat-menu-item>English</button>
  </mat-menu>
</mat-toolbar>


<router-outlet (activate)='updateGoBackUrl($event)'></router-outlet>
