.toolbar-logo {
  height: 50px;
  position: absolute;
}

a {
  margin: 0 auto;
  text-decoration: none;
  color: black;

  &.go-back-button {
    display: none;
  }
}


@media only screen and (max-width: 620px) {
  h1 {
    display: none;
  }

  a {
    margin: 0;

    &.go-back-button{
    display: block;
    }

    &.toolbar-logo {
      margin: 0 auto;
      position: relative;
    }
  }
}
