.first-button {
  margin-right: 10px;
}

mat-spinner {
  margin: 10px auto;
}

mat-card {
  word-break: break-all;
}

mat-card-header {
  button {
    max-height: 50px;
    width: 100%;
    max-width: fit-content;
  }
}

.download-buttons {
  display: inherit;
  margin-left: auto;
}

.download-buttons-mobile {
  display: none;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;

  mat-accordion {
    width: calc(50% - 20px);
    margin: 10px;

    mat-expansion-panel-header {
      word-break: normal;
    }

    pre {
      overflow-x: scroll;
    }
  }
}

mat-tab-group mat-card {
  margin: 10px;
}

.error {
  max-width: 720px;
  margin: 10px auto;
  width: calc(100% - 60px);

  mat-card-header {
    text-align: center;
    display: block;
  }

  mat-card-title {
    font-size: 100px;
    margin-bottom: 100px;

    &.withSvgIcon{
      margin-bottom: 30px;
    }

    mat-icon {
      font-size: 100px;
      margin-top: 20px;
      margin-right: 100px;
    }
  }

  mat-card-title, mat-card-subtitle {
    width: 100%;
  }
}

.error-invalid mat-icon {
  width: 100%;
}


@media only screen and (max-width: 620px) {
  .download-buttons {
    display: none;
  }

  .download-buttons-mobile {
    display: block;

    button {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  .cards-container mat-accordion {
    width: calc(100% - 20px);
  }
}
