mat-spinner {
  margin: 10px auto;
}

mat-card {
  word-break: break-all;
}

.download-buttons {
  display: inherit;
  margin-left: auto;
}

.download-buttons-mobile {
  display: none;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;

  mat-accordion {
    width: calc(50% - 20px);
    margin: 10px;

    mat-expansion-panel-header {
      word-break: normal;

      &.strace-header {
        height: auto !important;
        min-height: 48px;

        mat-panel-title {
          margin-bottom: auto;
          margin-top: auto;
        }
      }
    }

    pre {
      overflow-x: scroll;
    }
  }
}

mat-tab-group mat-card {
  margin: 10px;
}

.error {
  max-width: 720px;
  margin: 10px auto;
  width: calc(100% - 60px);

  mat-card-header {
    text-align: center;
    display: block;
  }

  mat-card-title {
    font-size: 100px;

    &.withSvgIcon {
      margin-bottom: 30px;
    }

    mat-icon {
      color: #84dcf0;
      font-size: 120px;
      height: 120px;
      width: 120px;
      margin: 0 auto;
    }
  }

  mat-card-title, mat-card-subtitle {
    width: 100%;
  }

  mat-spinner {
    margin-bottom: 50px;
  }
}

.error-invalid mat-icon {
  width: 100%;
}


@media only screen and (max-width: 620px) {
  .download-buttons {
    display: none;
  }

  .download-buttons-mobile {
    display: block;
  }

  .cards-container mat-accordion {
    width: calc(100% - 20px);
  }
}
