<mat-spinner *ngIf="report===undefined"></mat-spinner>

<mat-card *ngIf="report">
  <mat-card-header>
    <div class="report-header-image" mat-card-avatar></div>
    <mat-card-title>{{report.Filename}}</mat-card-title>
    <mat-card-subtitle><b>md5:</b> {{report.md5}}</mat-card-subtitle>
    <div class="download-buttons">
      <button class="first-button" color="primary" mat-raised-button (click)="downloadAnalysis()">
        {{'download.report' | translate}}
        <mat-icon>get_app</mat-icon>
      </button>
      <button mat-raised-button>
        {{'download.apk' | translate}}
        <mat-icon>get_app</mat-icon>
      </button>
    </div>
  </mat-card-header>

  <div class="download-buttons-mobile">
    <button class="first-button" color="primary" mat-raised-button (click)="downloadAnalysis()">
      {{'download.report' | translate}}
      <mat-icon>get_app</mat-icon>
    </button>
    <button mat-raised-button>
      {{'download.apk' | translate}}
      <mat-icon>get_app</mat-icon>
    </button>
  </div>

  <mat-card-content>
    <p><b>sha1:</b> {{report.sha1}}</p>
    <p><b>sha256:</b> {{report.sha256}}</p>
  </mat-card-content>

  <mat-tab-group dynamicHeight>
    <mat-tab label="{{'static.analysis' | translate}}">
      <div class="cards-container">
        <mat-accordion multi>
          <mat-expansion-panel [expanded]="isBigScreen()">
            <mat-expansion-panel-header>
              <mat-panel-title>
                FlowDroid
              </mat-panel-title>
            </mat-expansion-panel-header>
            <pre>{{flowDroid | json}}</pre>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
          <mat-expansion-panel [expanded]="isBigScreen()">
            <mat-expansion-panel-header>
              <mat-panel-title>
                AndroPyTool
              </mat-panel-title>
            </mat-expansion-panel-header>
            <pre>{{androPyTool | json}}</pre>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-tab>

    <mat-tab label="{{'dynamic.analysis' | translate}}">
      <div class="cards-container">
        <mat-accordion multi>
          <mat-expansion-panel [expanded]="isBigScreen()">
            <mat-expansion-panel-header>
              <mat-panel-title>
                DroidBox
              </mat-panel-title>
            </mat-expansion-panel-header>
            <pre>{{droidBox | json}}</pre>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
          <mat-expansion-panel [expanded]="isBigScreen()">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Strace
              </mat-panel-title>
            </mat-expansion-panel-header>
            <pre>{{strace}}</pre>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-tab>

    <mat-tab label="{{'virusTotal.analysis' | translate}}">
      <mat-card>
        <a href="{{virusTotal}}">{{virusTotal}}</a>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</mat-card>

<mat-card *ngIf="show404" class="error-404">
  <mat-card-header>
    <mat-card-title>
      <mat-icon>search_off</mat-icon>
      <span>404</span>
    </mat-card-title>
    <mat-card-subtitle>{{'error.404' | translate}} {{reportId}}</mat-card-subtitle>
  </mat-card-header>
</mat-card>

<mat-card *ngIf="showInvalid" class="error-invalid">
  <mat-card-header>
    <mat-card-title>
      <mat-icon>report_off</mat-icon>
    </mat-card-title>
    <mat-card-subtitle>{{'error.invalid' | translate}}</mat-card-subtitle>
  </mat-card-header>
</mat-card>
