.cards-container {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  max-width: 720px;
  margin: 10px auto;
  word-break: break-all;
  width: calc(100% - 25px);
}
