mat-card {
  max-width: 720px;
  margin: 10px auto;
  word-break: break-all;
  width: calc(100% - 60px);
  cursor: pointer;
}

a {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
