html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #eee;
}


.report-header-image, .report-header-image-invalid {
  background-size: cover;
  margin: auto 0;
  top: -8px;
  position: relative;
}

.report-header-image {
  background-image: url('assets/apk.svg');
  border: solid #84dcf0 2px;
}

.report-header-image-invalid {
  background-image: url('assets/apk-red.svg');
  border: solid #D61A3C 2px;
}

body.usingMouse *:focus {
  outline: none;
}
