html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #eee;
}


.report-header-image {
  background-image: url('assets/apk.svg');
  background-size: cover;
  border: solid #84dcf0 2px;
}
